.searchInputsG{
    margin-top: 50px;
    display: grid;
    place-items: center;
    border-width: 15px;
}

.searchG input {
    background-color: blanchedalmond;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:lightpink 0px 5px 15px;
    border: 2px solid #feab5b;
    font-size: 18px;
    padding: 15px;
    height: 25px;
    width: 300px;
}


.searchIcon {
    height: 50px;
    width: 50px;
    background-color: rgb(244, 255, 228);
    display: grid;
    place-items: center;
}


input:focus {
    outline: none;
}

.searchIcon svg{
    font-size: 35px;
}

.results {
    margin-top: 5px;
    margin-left: 810px;
    width: 300px;
    height: 200px;
    background-color: blanchedalmond;
    box-shadow: lightpink 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

/*
.results::-webkit-scrollbar {
    display: none;
}
*/

.results .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgray;
}

#clearBtn {
    cursor: pointer;
}
